body{
    font-family: 'Baloo 2', serif;
    background:#5B8266 ;
}

#container{
    margin: 0px auto;
    margin-top: 100px;
    width: 950px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#caixa1{
    width: 450px;
    height: 420px;
    background:#253237;
    border-radius:30px;
    box-shadow: 15px 2px 2px #111;
}

#caixa2{
    width: 450px;
    height: 420px;
    background:#253237;
    border-radius:30px;
    box-shadow: 15px 2px 2px #111;
}

.nav-caixa{
    text-align: center;
}

input{
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    background: #FAF3DD;
    border: thin;
    border-radius: 3px;
    box-shadow: 8px 2px 2px #111;
}

input#btn{
    background: #EB8258;
    color: #FAF3DD;
}

input#btn:hover{
    color:#fff;
    cursor: pointer;
}

#conteudo-caixa h1{
    text-align: center;
    color: #EB8258;
    margin-top: 50px;
}

button#facebook{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 2px 2px #111;
    background-color: #3b5998;
    border: thin;
}

button#facebook i{
    float: left;
    color: #fff;
}

button#facebook a{
    color: #fff;
}

button#gmail{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 8px 2px 2px #111;
    background-color: #d34836;
    border: thin;
    margin: 10px;
}

button#gmail i{
    float: left;
    color: #fff;
}

button#gmail a{
    color: #fff;
}
